@media(max-width: 600px) {
    .media-mobile {
        display: block;
        margin: 15px auto;
        width: 80%;
        height: 80%;
    }

    .index-subheading {
        font-size: 18.72px;
    }

    .embed-video {
        text-align: center;
        height: 144px;
        width: 260px;
    }

    .parameters-container-mobile {
        display: grid;
        grid-template-columns: 50px 110px 125px 50px;
        grid-template-rows: 40px 40px 40px 40px 40px;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .spotify-url-input-phone-size {
        width: 290px;
    }

    .mobile-header-format {
        text-align: center;
        margin-top: 8%;
        margin-right: 20%;
        margin-left: 20%;
    }

    .parameters-form-mobile {
        height: 25px;
        text-align: center;
    }

    .error-message-mobile {
        text-align: center;
        color: red;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .center-margin-mobile {
        padding: 20px 0 10px;
        text-align: center;
        margin-right: 15%;
        margin-left: 15%;
    }

    .project-container {
        margin: 3.5% auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .project-pod {
        margin: auto;
        height: 551px;
        width: 310px;
        border: 1px solid rgb(179, 179, 179);
        border-radius: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .center_margin {
        padding: 20px 0;
        text-align: center;
        margin-right: 15%;
        margin-left: 15%;
    }

    .project-image {
        margin: auto;
        border: 1px solid rgb(179, 179, 179);
        height: 144px;
        width: 256px;
        border-radius: 15px;
        margin-bottom: 25px;
        overflow: hidden;
        position: relative;
    }

    .pod-description {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .project-image-align {
        width: 250px;
        transform: translateY(-15px);
        transform: translateX(-0px);
    }

    .margin-mobile {
        padding: 20px 0;
        text-align: center;
        margin-right: 15%;
        margin-left: 15%;
    }
}


@media(min-width: 600px) {

    .media-normal {
        display: block;
        margin: 15px auto;
        width: 500px;
        height: 500px;
    }

    .index-title {
        font-size: 50px;
    }

    .embed-video {
        text-align: center;
        width: 330px;
        height: 185.6px;
    }

    .spotify-url-input-desktop-size {
        width: 550px;
        height: 30px;
        font-size: 20px;
    }

    .parameters-form-desktop {
        height: 25px;
        text-align: center;
    }

    .parameters-form-desktop:hover {
        height: 25px;
        text-align: center;
        border-color: black
    }

    .parameters-container-desktop {
        display: grid;
        grid-template-columns: 40px 140px 250px 35px;
        grid-template-rows: 65px 65px 65px 65px 65px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .parameter-label {
        text-align: left;
        font-size: 20px;
    }

    .dialog-recommendations {
        margin: auto;
        padding: 30px;
    }

    .magic-stereo-header {
        text-align: center;
        margin-top: 4.5%;
        margin-right: 20%;
        margin-left: 20%;
        font-size: 40px;
    }

    .checkbox {
        height: 20px;
        width: 20px;
    }

    .magic-stereo-text {
        font-size: 1.5em;
    }

    #close-dialog {
        font-size: 20px;
    }

    #copy-to-clipboard {
        font-size: 20px;
    }

    #form-submit {
        margin-top: 30px;
        font-size: 20px;
    }

    .range-value {
        font-size: 20px;
    }

    .range {
        width: 225px;
    }

    .error-message-desktop {
        text-align: center;
        color: red;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    table,
    tr,
    th,
    td {
        font-size: 20px;
    }

    .center_margin {
        padding: 20px 0;
        text-align: center;
        margin-right: 15%;
        margin-left: 15%;
    }

    .project-container {
        margin: 3.5% auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1%;
        grid-template-rows: 1fr;
    }

    #thinkdev-project {
        grid-column-start: 2;
    }

    #magic-stereo-project {
        grid-column-start: 3;
    }

    .project-pod {
        margin: auto;
        height: 500px;
        width: 400px;
        border: 1px solid rgb(179, 179, 179);
        border-radius: 15px;
    }

    .project-image {
        margin: auto;
        border: 1px solid rgb(179, 179, 179);
        height: 185px;
        width: 330px;
        border-radius: 15px;
        margin-bottom: 25px;
        overflow: hidden;
        position: relative;
    }

    .pod-description {
        height: 150px;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .project-image-align {
        width: 330px;
        transform: translateY(-3px);
    }
}

.button {
    background-color: white;
    border-radius: 5px;
    margin-top: 25px;
    border-color: rgb(179, 179, 179);
    border-style: solid;
}

.button:hover {
    border-color: black;
    border-style: solid;
}

.caption_text {
    padding: 15px 0;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.header_format {
    text-align: center;
    margin-top: 40px;
    margin-right: 20%;
    margin-left: 20%;
}

.sub_heading_format {
    text-align: center;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 20%;
}

.bottom_space {
    margin-bottom: 3%;
}

.nav-link {
    color: black;
}

.flex-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table,
tr,
th,
td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

a {
    text-decoration: none;
}

.clickable-card {
    text-decoration: none;
    color: inherit;
}

.dialog {
    border-color: rgb(179, 179, 179);
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-left-margin {
    margin-left: 15px;
}

.row-one {
    grid-row-start: 1;
}

.row-two {
    grid-row-start: 2;
}

.row-three {
    grid-row-start: 3;
}

.row-four {
    grid-row-start: 4;
}

.row-five {
    grid-row-start: 5;
}

.column-one {
    grid-column-start: 1
}

.column-two {
    grid-column-start: 2
}

.column-three {
    grid-column-start: 3
}

.column-four {
    grid-column-start: 4
}

.column-five {
    grid-column-start: 5
}

.project-pod:hover {
    border: 1px solid black;
}

.project-pod:hover .project-image {
    border: 1px solid black;
}

.project-pod:hover .stack {
    font-weight: bold
}

.project-pod:hover .text-bold {
    font-weight: bold;
}

.stack {
    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
}


.pod-content {
    position: relative;
    margin-top: 30px;
}

.github-icon {
    position: absolute; 
    width: 40px;
    height: 40px;
    top: -15px; 
    right: 12px;
}

.github-icon:hover {
    width: 50px;
    height: 45px;
    right: 8px;
    top: -20px;
}